body {
    background-color: dimgray;
}
.heading {
    border-radius: 2px;
    color: white;
    padding: 10px;
}

.navigation_bar {
    overflow: hidden;
    margin: 0 25px 0 25px;
}

.navigation_bar a {
    float: left;
    text-decoration: none;
    text-align: left;
    padding: 14px 16px;
}